<html>
<head>
	<title>Reviews</title>
</head>    

<body bgcolor="#C5E3EC">
    <h1 style="text-align: center">Enter Reviews</h1>
    <div align="center">
    <hr width="50%" noshade size="5px" style="color:black; background-color:blackl border:2px solid black; border-radius:2px">
    <table style="border:0px solid black; margin:20px; border-spacing: 10px" width="800" cellpadding="20">
    	<tr style="border:0px solid black;">
    		<td style="border:0px solid black; border-radius: 10px; background-color:#EAF1F3;" width="150" align="center">
    		 	<img src="/static/teachers/1.jpg" height="120" style="border-radius:5px; border:2px solid black" >
    		 </td> 
    		 <td style="border:0px solid black; font-family: 'arial'; border-radius: 10px; background-color:#EAF1F3; font-weight:bold;" width="550">
    		 	Prof. Dav Pilkey
    		 	<br><br>
    		 	Review
    			 	<form method="POST">
    		 		<textarea rows="5" cols="70" name='text1'></textarea>
    		 		<br>
    		 		<input type="submit" value="Submit" name="submit1">
    		 	</form>
    		 </td>
             <td style="border:0px solid black; font-family: 'arial'; border-radius: 10px; background-color:#EAF1F3;font-weight:bold" width="200" valign="top">
                Current Rating 
                <br><br><br><br>
                <img src="{{ user_image1 }}" width='170'>
             </td>
    	</tr>

    	<tr style="border:0px solid black;">
    		<td style="border:0px solid black; border-radius: 10px; background-color:#EAF1F3; font-weight:bold" width="150" align="center">
    		 	<img src="/static/teachers/2.jpg" height="120" style="border-radius:5px; border:2px solid black" >
    		 </td> 
    		 <td style="border:0px solid black; font-family: 'arial'; border-radius: 10px; background-color:#EAF1F3; font-weight:bold" width="550">
    		 	Prof. Edmund Crispin
    		 	<br><br>
    		 	Review
    			 	<form method="POST">
    		 		<textarea rows="5" cols="70" name='text2'></textarea>
    		 		<br>
    		 		<input type="submit" value="Submit" name="submit2">
    		 	</form>
    		 </td>

            <td style="border:0px solid black; font-family: 'arial'; border-radius: 10px; background-color:#EAF1F3;font-weight:bold" width="200" valign="top">
                Current Rating 
                <br><br><br><br>
                <img src="{{ user_image2 }}" width='170'>
             </td>
    	</tr>

    	<tr style="border:0px solid black;">
    		<td style="border:0px solid black; border-radius: 10px; background-color:#EAF1F3; font-weight:bold" width="150" align="center">
    		 	<img src="/static/teachers/3.jpg" height="120" style="border-radius:5px; border:2px solid black" >
    		 </td> 
    		 <td style="border:0px solid black; font-family: 'arial'; border-radius: 10px; background-color:#EAF1F3; font-weight:bold" width="550">
    		 	Prof. Annie Rice
    		 	<br><br>
    		 	Review
    			 	<form method="POST">
    		 		<textarea rows="5" cols="70" name='text3'></textarea>
    		 		<br>
    		 		<input type="submit" value="Submit" name="submit3">
    		 	</form>
    		 </td>

            <td style="border:0px solid black; font-family: 'arial'; border-radius: 10px; background-color:#EAF1F3;font-weight:bold" width="200" valign="top">
                Current Rating 
                <br><br><br><br>
                <img src="{{ user_image3 }}" width='170'>
             </td>
    	</tr>

        <tr style="border:0px solid black;">
            <td style="border:0px solid black; border-radius: 10px; background-color:#EAF1F3; font-weight:bold" width="150" align="center">
                <img src="/static/teachers/4.jpg" height="120" style="border-radius:5px; border:2px solid black" >
             </td> 
             <td style="border:0px solid black; font-family: 'arial'; border-radius: 10px; background-color:#EAF1F3; font-weight:bold" width="550">
                Prof. Saul Bellow
                <br><br>
                Review
                    <form method="POST">
                    <textarea rows="5" cols="70" name='text4'></textarea>
                    <br>
                    <input type="submit" value="Submit" name="submit4">
                </form>
             </td>

            <td style="border:0px solid black; font-family: 'arial'; border-radius: 10px; background-color:#EAF1F3;font-weight:bold" width="200" valign="top">
                Current Rating 
                <br><br><br><br>
                <img src="{{ user_image4 }}" width='170'>
             </td>
        </tr>

        <tr style="border:0px solid black;">
            <td style="border:0px solid black; border-radius: 10px; background-color:#EAF1F3; font-weight:bold" width="150" align="center">
                <img src="/static/teachers/5.jpg" height="120" style="border-radius:5px; border:2px solid black" >
             </td> 
             <td style="border:0px solid black; font-family: 'arial'; border-radius: 10px; background-color:#EAF1F3; font-weight:bold" width="550">
                Prof. Elena Kisney
                <br><br>
                Review
                    <form method="POST">
                    <textarea rows="5" cols="70" name='text5'></textarea>
                    <br>
                    <input type="submit" value="Submit" name="submit5">
                </form>
             </td>

            <td style="border:0px solid black; font-family: 'arial'; border-radius: 10px; background-color:#EAF1F3;font-weight:bold" width="200" valign="top">
                Current Rating 
                <br><br><br><br>
                <img src="{{ user_image5 }}" width='170'>
             </td>
        </tr>

    </table>
	</div>
</body>

</html>